body{
	font-family:"baskerville", serif;
	color:#aaa;
    font-size:20px;
}
a{
	color:#dc3a23;
}
#loader{
	width:100%;
	background-color:#dc3a23;
	opacity:0.9;
	z-index:99999;
	position:absolute;
	top:0px;
	height:100%;
	font-size:36px;
	letter-spacing:1px;
	color:#fff;
}
#loader-text{
	width:60%;
	position: fixed;
	  top: 40%;
	  left: 30%;
	
}
/* for header and text */
#header{
    background-color:#fff;
	padding:10px;
	position:fixed;
    width:100%;
    overflow:hidden;
    border-bottom:1px dotted black;
    z-index:999;
}
.dc-chart g.row text{
    font-size:14px;
}
.title{
	font-size:36px;
	line-height:150%;
	color:#000;
}
.subtitle{
	font-size:20px;
	line-height:120%;
	color:#000;
}
.more {
      display: none;
  }
a.showLink, a.hideLink {
  text-decoration: none;
  color: #000;
  padding-left: 8px;
  line-height:120%;
 }
a.hideLink {
  }
a.showLink:hover, a.hideLink:hover {
 }
 
/* for charts and maps */
 #count{
 	padding:15px;
	 position:fixed;
     background-color:#fff;
	 right:20px;
     top:20px;
     font-size:20px;
     width:500px;
     color:#000;
     z-index:9999;
 }
 #container{
	 padding:10px;
	 position:absolute;
	 left:20px;
     top:100px;
 }
 #row{
	 padding:5px;
     font-size:20px;
 }
 .chartTitle{
	 font-size:24px;
	 border-bottom: dotted 1px #aaa;
	 padding-bottom:5px;
     color: #aaa;
	 letter-spacing:1px;
 }
 .chart-title{
	 color:#aaa;
 }